<div class="o-techdocs-container">
	<div class="o-techdocs-layout">
		<div class="o-techdocs-main o-techdocs-main--fullwidth">
			<div class="o-techdocs-content">

				<div class="o-grid-row">
					<div data-o-grid-colspan="12 M9">
						<h1 class="component-header">
							{{title}}
						</h1>
					</div>
				</div>

				<div class="o-grid-row">
					<div data-o-grid-colspan="12">
						<div class="o-table-wrapper">
							<table class="o-table o-table--horizontal-lines o-table--vertical-lines o-table--horizontal-borders o-table--vertical-borders" data-o-component="o-table" data-o-table--js="">
								<tbody>
									<tr>
										<th>Image Service v1</th>
										<th>Image Service v2</th>
									</tr>
									{{#each image}}
										<tr>
											<td>
												<a href="https://image.webservices.ft.com/v1{{this}}">
													<img src="https://image.webservices.ft.com/v1{{this}}" alt="" class="test-image" />
												</a>
											</td>
											<td>
												<a href="/v2{{this}}">
													<img src="/v2{{this}}" alt="" class="test-image" />
												</a>
											</td>
										</tr>
									{{/each}}
								</tbody>
							</table>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>
