
<div class="o-techdocs-container">
	<div class="o-techdocs-layout">

		<div class="o-techdocs-sidebar">
			{{>navigation}}
		</div>

		<div class="o-techdocs-main o-techdocs-content">

			<h1>
				Version Comparison
			</h1>

			<p>
				This page contains a table of images with transforms applied in both v1 and v2 of
				the image service. Any differences between the two should be illustrated here.
			</p>

			<div class="o-table-wrapper o-techdocs-table-wrapper">
				<table>
					<thead>
						<tr>
							<th class="comparison-result-column">Info</th>
							<th class="comparison-result-column">Image Service v1</th>
							<th class="comparison-result-column">Image Service v2</th>
						</tr>
					</thead>
					<tbody>
						{{#each images}}
							{{#if isSection}}
								<tr>
									<th colspan="3" class="compare-section">
										{{name}}
									</th>
								</tr>
							{{else}}
								<tr>
									<td class="comparison-result-column">
										<p>
											<b>{{name}}{{#description}}:{{/description}}</b>
											{{description}}<br/>
											{{#shouldMatch}}
												<span class="comparison-image-match comparison-image-match--yes">
													Images should match visually
												</span>
											{{else}}
												<span class="comparison-image-match comparison-image-match--no">
													Images should not match visually
												</span>
											{{/shouldMatch}}
										</p>
									</td>
									<td class="comparison-result-column" data-component="comparison-image">
										<img src="{{v1Url}}" alt="{{name}}" /><br/>
										<a href="{{v1Url}}">Image served through v1</a>
									</td>
									<td class="comparison-result-column" data-component="comparison-image">
										<img src="{{v2Url}}" alt="{{name}}" /><br/>
										<a href="{{v2Url}}">Image served through v2</a>
									</td>
								</tr>
							{{/if}}
						{{/each}}
					</tbody>
				</table>
			</div>

		</div>

	</div>
</div>
