
<div class="o-techdocs-container">
	<div class="o-techdocs-layout">

		<div class="o-techdocs-sidebar">
			{{>navigation}}
		</div>

		<div class="o-techdocs-main o-techdocs-content">

			<h1>
				Optimise and resize images.<br/>
				The right and easy way.
			</h1>

			<p>
				The Origami Image Service can be used to optimise and resize images.
				You can crop, tint, and convert images in JPEG, PNG, GIF and SVG formats quickly and easily.
			</p>

			<p>
				The quickest way to get started is to experiment with the <a href="v2/docs/url-builder">URL builder</a>, and try
				transforming and optimising some of your images.
				Read the <a href="v2/docs/api">API documentation</a> for more information on all of the available transforms.
				If you're migrating from Image Service v1, we maintain a <a href="v2/docs/migration">migration guide</a> to help you.
			</p>

			<h2>Example</h2>

			<div class="o-table-wrapper o-techdocs-table-wrapper">
				<table>
					<thead>
						<tr>
							<th class="example-column">Source Image</th>
							<th class="example-column">Optimised Image</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="example-column">
								<img src="http://im.ft-static.com/content/images/a60ae24b-b87f-439c-bf1b-6e54946b4cf2.img" alt="Source Image"/><br/>
								Image served as a JPEG: <b>227 KB</b>
							</td>
							<td class="example-column">
								<img src="v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=docs" alt="Optimised Image"/><br/>
								Image served as WebP (to Chrome): <b>82 KB</b><br/>
								Image served as JPEG XR (to IE/Edge): <b>97 KB</b><br/>
								Image served as JPEG: <b>111 KB</b>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

	</div>
</div>
