
<div class="o-techdocs-container">
	<div class="o-techdocs-layout">

		<div class="o-techdocs-sidebar">
			{{>navigation}}
		</div>

		<div class="o-techdocs-main o-techdocs-content">

			<h1>
				Optimise and resize images.<br/>
				The right and easy way.
			</h1>

			<p>
				The Origami Image Service can be used to optimise and resize images.
				You can crop, tint, and convert images in JPEG, PNG, and SVG formats quickly and easily.
			</p>

			<h2>Example</h2>

			<h3>Source image</h3>

			<a href="http://im.ft-static.com/content/images/a60ae24b-b87f-439c-bf1b-6e54946b4cf2.img"><img src="http://im.ft-static.com/content/images/a60ae24b-b87f-439c-bf1b-6e54946b4cf2.img" alt="Source image" width="400"/></a>

			<h3>Optimised image</h3>

			<a href="v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=docs"><img src="v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=docs" alt="Optimised image" width="400"/></a>
			<br />
			<a href="v2/images/debug/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=docs">(debug image parameters)</a>

		</div>

	</div>
</div>
