
<div class="o-techdocs-container">
	<div class="o-techdocs-layout">
		<div class="o-techdocs-sidebar">
			{{>navigation}}
		</div>

		<div class="o-techdocs-main o-techdocs-content">

			<h1>
				Purging Images
			</h1>

			<p>
				To use these endpoints you need to set the header <code>FT-Origami-Api-Key</code> with your API key. If you would like an API key, please request one by emailing <code>origami.support@ft.com</code> and explaining what you are wanting the API key for.
			</p>

			<h3>GET /v2/purge/key?key=<var>:surrogate-key</var></h3>
			<p>
				Purge from CDN all resources which are tagged with the surrogate-key.
				The types of surrogate-keys available are as follows:
			</p>

			<div class="o-techdocs-table-wrapper">
				<table>
					<tr>
						<th>Surrogate Key Types</th>
						<th>Description</th>
					</tr>
					<tr>
						<td>everything</td>
						<td>
							<p>The surrogate key <code>origami-image-service</code> is added to every image, purging this will remove all images from the CDN. Recommended to only use this in extreme circumstances.</p>
						</td>
					</tr>
					<tr>
						<td>scheme</td>
						<td>
							<p>Each scheme has it's own surrogate key in order to remove all images requested with the scheme from the CDN.</p>
							<p>List of schemes and their surrogate-key equivalent:</p>
							<dl>
								<dt>http</dt>
								<dd><code>http</code></dd>
								<dt>https</dt>
								<dd><code>https</code></dd>
								<dt>ftcms</dt>
								<dd><code>ftcms</code></dd>
								<dt>fticon-v1</dt>
								<dd><code>fticon</code></dd>
								<dt>fthead-v1</dt>
								<dd><code>fthead</code></dd>
								<dt>ftsocial-v2</dt>
								<dd><code>ftsocial</code></dd>
								<dt>ftpodcast-v1</dt>
								<dd><code>ftpodcast</code></dd>
								<dt>ftlogo-v1</dt>
								<dd><code>ftlogo</code></dd>
								<dt>ftbrand-v1</dt>
								<dd><code>ftbrand</code></dd>
								<dt>specialisttitle-v1</dt>
								<dd><code>specialisttitle</code></dd>
							</dl>
						</td>
					</tr>
					<tr>
						<td>image response type</td>
						<td>
							<p>The response type of the image is used as a surrogate key, purging this will remove all images of the same response type from the CDN.</p>
							<p>The value of the surrogate key is normalised by converting the response type to lowercase and only alphanumeric and dashes are used</p>
							<p>List of example image response types and their surrogate-key equivalent:</p>
							<dl>
								<dt>image/png</dt>
								<dd><code>imagepng</code></dd>
								<dt>image/svg+xml</dt>
								<dd><code>imagesvgxml</code></dd>
								<dt>image/webp</dt>
								<dd><code>imagewebp</code></dd>
								<dt>image/jpeg</dt>
								<dd><code>imagejpeg</code></dd>
								<dt>image/gif</dt>
								<dd><code>imagegif</code></dd>
							</dl>
						</td>
					</tr>
					<tr>
						<td>requested image</td>
						<td>
							<p>The requested image is used as a surrogate key, purging this will remove all transforms based on the original image from the CDN.</p>
							<p>The value of the surrogate key is the scheme and identifier used for the image.</p>
							<p>List of example images and their surrogate-key equivalent:</p>
							<dl>
								<dt>ftcms:3520df36-8c20-11e6-8cb7-e7ada1d123b1</dt>
								<dd><code>ftcms:3520df36-8c20-11e6-8cb7-e7ada1d123b1</code></dd>
								<dt>http://im.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img</dt>
								<dd><code>ftcms:a60ae24b-b87f-439c-bf1b-6e54946b4cf2</code></dd>
								<dt>fticon-v1:book</dt>
								<dd><code>fticon-v1:book</code></dd>
								<dt>http://s3-eu-west-1.amazonaws.com/fthtsi-assets-production/ez/images/7/0/1/9/1219107-1-eng-GB/Adriana-Degreas-bikini-set-@-MATCHESFASHION.COM.png</dt>
								<dd><code>http://s3-eu-west-1.amazonaws.com/fthtsi-assets-production/ez/images/7/0/1/9/1219107-1-eng-GB/Adriana-Degreas-bikini-set-@-MATCHESFASHION.COM.png</code></dd>
							</dl>
						</td>
					</tr>
				</table>
			</div>

			<h3>GET /v2/purge/url?url=<var>:URL-to-purge</var></h3>

			<p>
				Purge from CDN a specific URL.
			</p>
		</div>
	</div>
</div>
