<h1>
	URL Builder
</h1>

<p>
	The form below allows you to experiment with different image transforms, and easily
	try the service before you start using it in your application.
	The URL builder does not include all of the available options. See the
	<a href="v2/docs/api">API Documentation</a> for more information.
</p>

<h2 id="url-settings">URL Settings</h2>
<form class="o-layout__main__full-span" action="v2/docs/url-builder" method="get">
	<div class="flex-container">
		<div class="form">
			<label class="o-forms-field">
				<span class="o-forms-title">
					<span class="o-forms-title__main">
						Image URL
					</span>
					<span class="o-forms-title__prompt">
						Try with
						<a href="{{demo.url}}">a URL</a>,
						<a href="{{demo.cms}}">a Content API asset</a>,
						<a href="{{demo.icon}}">an icon from the standard set</a>,
						<a href="{{demo.head}}">a headshot image</a>,
						<a href="{{demo.social}}">a social icon</a>,
						<a href="{{demo.logo}}">a logo</a>
						<a href="{{demo.podcast}}">a podcast logo</a>, or
						<a href="{{demo.flag}}">a flag</a>
					</span>
				</span>
				<span class="o-forms-input o-forms-input--text">
					<input type="text" name="url" placeholder="http://&hellip;" value="{{form.url}}" required />
				</span>
			</label>

			<label class="o-forms-field">
				<span class="o-forms-title">
					<span class="o-forms-title__main">
						Source
					</span>
					<span class="o-forms-title__prompt">
						Typically your product's system code
					</span>
				</span>
				<span class="o-forms-input o-forms-input--text">
					<input type="text" name="source" value="{{form.source}}" class="o-forms-input--text" required />
				</span>
			</label>

			<label class="o-forms-field o-forms-field--optional">
				<span class="o-forms-title">
					<span class="o-forms-title__main">
						Width
					</span>
				</span>
				<span class="o-forms-input o-forms-input--text">
					<input type="text" name="width" value="{{form.width}}" class="o-forms-input--text" />
				</span>
			</label>

			<label class="o-forms-field o-forms-field--optional">
				<span class="o-forms-title">
					<span class="o-forms-title__main">
						Height
					</span>
				</span>
				<span class="o-forms-input o-forms-input--text">
					<input type="number" name="height" value="{{form.height}}" class="o-forms-input--text" />
				</span>
			</label>

			<div class="o-forms-field">
				<button type="submit" class="o-buttons o-buttons--primary">Preview Image</button>
			</div>
		</div>

		<div class="url-builder-preview">
			{{#if imagePreviewUrl}}
			<a href="{{imagePreviewUrl}}" style="border: none;">
				<img style="width: 100%;" src="{{imagePreviewUrl}}" alt="Optimised Image"/>
			</a>
			<label class="o-forms-field">
				<span class="o-forms-title">
					<span class="o-forms-title__main">
						URL for the optimised image
					</span>
				</span>
				<span class="o-forms-input o-forms-input--text-area">
					<textarea class="url-builder-output" readonly>https://www.ft.com/__origami/service/image/{{imagePreviewUrl}}</textarea>
				</span>
			</label>
			{{/if}}
		</div>
	</div>

	<h2 id="advanced-settings">Advanced Settings</h2>

	<div class="o-forms-field">
		<span class="o-forms-title">
			<span class="o-forms-title__main">
				Fit
			</span>
			<span class="o-forms-title__prompt">
				The way the image should be cropped. See the <a href="v2/docs/api">API Documentation</a> for more information.
			</span>
		</span>
		<div class="o-forms-input o-forms-input--radio-round o-forms-input--inline">
			<label>
				<input type="radio" name="fit" value="" {{#if form.format.isCover}}checked{{/if}}/>
				<span class="o-forms-input__label">cover (default)</span>
			</label>

			<label>
				<input type="radio" name="fit" value="contain" {{#if form.format.isContain}}checked{{/if}}/>
				<span class="o-forms-input__label">contain</span>
			</label>

			<label>
				<input type="radio" name="fit" value="fill" {{#if form.format.isFill}}checked{{/if}}/>
				<span class="o-forms-input__label">fill</span>
			</label>

			<label>
				<input type="radio" name="fit" value="scale-down"{{#if form.format.isScaleDown}}checked{{/if}}/>
				<span class="o-forms-input__label">scale-down</span>
			</label>
		</div>
	</div>

	<div class="o-forms-field">
		<span class="o-forms-title">
			<span class="o-forms-title__main">
				Gravity
			</span>
			<span class="o-forms-title__prompt">
				Whether image analysis should be used to provide a better crop. See the <a href="v2/docs/api">API Documentation</a> for more information.
			</span>
		</span>
		<div class="o-forms-input o-forms-input--radio-round o-forms-input--inline">
			<label>
				<input type="radio" name="gravity" value="" {{#if form.gravity.isNone}}checked{{/if}}/>
				<span class="o-forms-input__label">none (default)</span>
			</label>
			<label>
				<input type="radio" name="gravity" value="faces" {{#if form.gravity.isFaces}}checked{{/if}}/>
				<span class="o-forms-input__label">faces</span>
			</label>
			<label>
				<input type="radio" name="gravity" value="poi" {{#if form.gravity.isPoi}}checked{{/if}}/>
				<span class="o-forms-input__label">poi</span>
			</label>

		</div>
	</div>

	<div class="o-forms-field">
		<span class="o-forms-title">
			<span class="o-forms-title__main">
				Format
			</span>
		</span>
		<div class="o-forms-input o-forms-input--radio-round o-forms-input--inline">
			<label>
				<input type="radio" name="format" value="" {{#if form.format.isAuto}}checked{{/if}}/>
				<span class="o-forms-input__label">auto (default)</span>
			</label>
			<label>
				<input type="radio" name="format" value="jpg" {{#if form.format.isJpg}}checked{{/if}}/>
				<span class="o-forms-input__label">jpg</span>
			</label>
			<label>
				<input type="radio" name="format" value="png" {{#if form.format.isPng}}checked{{/if}}/>
				<span class="o-forms-input__label">png</span>
			</label>
			<label>
				<input type="radio" name="format" value="gif" {{#if form.format.isGif}}checked{{/if}}/>
				<span class="o-forms-input__label">gif</span>
			</label>
			<label>
				<input type="radio" name="format" value="svg" {{#if form.format.isSvg}}checked{{/if}}/>
				<span class="o-forms-input__label">svg</span>
			</label>
		</div>
	</div>

	<div class="o-forms-field">
		<span class="o-forms-title">
			<span class="o-forms-title__main">
				Quality
			</span>
		</span>
		<div class="o-forms-input o-forms-input--radio-round o-forms-input--inline">
			<label>
				<input type="radio" name="quality" value="lowest" {{#if form.quality.isLowest}}checked{{/if}}/>
				<span class="o-forms-input__label">lowest</span>
			</label>
			<label>
				<input type="radio" name="quality" value="low" {{#if form.quality.isLow}}checked{{/if}}/>
				<span class="o-forms-input__label">low</span>
			</label>
			<label>
				<input type="radio" name="quality" value="" {{#if form.quality.isMedium}}checked{{/if}}/>
				<span class="o-forms-input__label">medium (default)</span>
			</label>
			<label>
				<input type="radio" name="quality" value="high" {{#if form.quality.isHigh}}checked{{/if}}/>
				<span class="o-forms-input__label">high</span>
			</label>
			<label>
				<input type="radio" name="quality" value="highest" {{#if form.quality.isHighest}}checked{{/if}}/>
				<span class="o-forms-input__label">highest</span>
			</label>
			<label>
				<input type="radio" name="quality" value="lossless" {{#if form.quality.isLossless}}checked{{/if}}/>
				<span class="o-forms-input__label">lossless</span>
			</label>
		</div>
	</div>

	<label class="o-forms-field">
		<span class="o-forms-title">
			<span class="o-forms-title__main">
				Tint
			</span>
			<span class="o-forms-title__prompt">
				Individual or multiple hex colour codes, separated by commas
			</span>
		</span>
		<span class="o-forms-input o-forms-input--text">
			<input type="text" name="tint" placeholder="#ff0000,blue,0f0" value="{{form.tint}}"  />
		</span>
	</label>

	<label class="o-forms-field">
		<span class="o-forms-title">
			<span class="o-forms-title__main">
				Background colour
			</span>
			<span class="o-forms-title__prompt">
				A hex colour code, only visible when the source image has a transparent background and the target format does not support transparency
			</span>
		</span>
		<span class="o-forms-input o-forms-input--text">
			<input type="text" name="bgcolor" placeholder="#ff0000,blue,0f0" value="{{form.tint}}"  />
		</span>
	</label>

	<div class="o-forms-field">
		<button type="submit" class="o-buttons o-buttons--primary">
			Preview Image
		</button>
	</div>
</form>
