
<div class="o-techdocs-container">
	<div class="o-techdocs-layout">

		<div class="o-techdocs-sidebar">
			{{>navigation}}
		</div>

		<div class="o-techdocs-main o-techdocs-content">

			<h1>
				URL Builder
			</h1>

			<p>
				The form below allows you to experiment with different image transforms, and easily
				try the service before you start using it in your application.
				The URL builder does not include all of the available options. See the
				<a href="v2/docs/api">API Documentation</a> for more information.
			</p>

			<form action="v2/docs/url-builder" method="get">

				<div class="o-grid-container o-grid-container--bleed">
					<div class="o-grid-row">
						<div data-o-grid-colspan="6">

							<div class="o-forms o-forms--wide">
								<label for="builder-url" class="o-forms__label">Image URL</label>
								<small class="o-forms__additional-info">
									Try with
									<a href="{{demo.url}}">a URL</a>,
									<a href="{{demo.cms}}">a Content API asset</a>, or
									<a href="{{demo.icon}}">an icon</a>
								</small>
								<input type="text" id="builder-url" name="url" placeholder="http://&hellip;" value="{{form.url}}" class="o-forms__text" />
							</div>

							<div class="o-forms o-forms--wide">
								<label for="builder-source" class="o-forms__label">Source</label>
								<small class="o-forms__additional-info">
									Typically your product's system code
								</small>
								<input type="text" id="builder-source" name="source" placeholder="test" value="{{form.source}}" class="o-forms__text" />
							</div>

							<div class="o-forms o-forms--wide">
								<label for="builder-width" class="o-forms__label">Width</label>
								<input type="number" id="builder-width" name="width" value="{{form.width}}" class="o-forms__text" />
							</div>

							<div class="o-forms o-forms--wide">
								<label for="builder-height" class="o-forms__label">Height</label>
								<input type="number" id="builder-height" name="height" value="{{form.height}}" class="o-forms__text" />
							</div>

							<div class="o-forms o-forms--wide">
								<button type="submit" class="o-buttons o-buttons--standout">Preview Image</button>
							</div>

						</div>
						<div data-o-grid-colspan="6">

							<div class="url-builder-preview">
								{{#if imagePreviewUrl}}
									<a href="{{imagePreviewUrl}}">
										<img src="{{imagePreviewUrl}}" alt="Optimised Image"/>
									</a>
									<div class="o-forms o-forms--wide">
										<label for="builder-output" class="o-forms__label">URL for the optimised image</label>
										<textarea class="url-builder-output" id="builder-output" class="o-forms__textarea" readonly>https://www.ft.com{{basePath}}/{{imagePreviewUrl}}</textarea>
									</div>
								{{/if}}
							</div>

						</div>
					</div>
				</div>

				<h2>Advanced Settings</h2>

				<div class="o-forms o-forms--wide">
					<label class="o-forms__label">Fit</label>
					<small class="o-forms__additional-info">
						The way the image should be cropped. See the <a href="v2/docs/api">API Documentation</a> for more information.
					</small>
					<input type="radio" id="builder-fit-cover" name="fit" value="cover" class="o-forms__radio" {{#if form.fit.isCover}}checked{{/if}}/>
					<label for="builder-fit-cover" class="o-forms__label">cover (default)</label>
					<input type="radio" id="builder-fit-contain" name="fit" value="contain" class="o-forms__radio" {{#if form.fit.isContain}}checked{{/if}}/>
					<label for="builder-fit-contain" class="o-forms__label">contain</label>
					<input type="radio" id="builder-fit-scale-down" name="fit" value="scale-down" class="o-forms__radio" {{#if form.fit.isScaleDown}}checked{{/if}}/>
					<label for="builder-fit-scale-down" class="o-forms__label">scale-down</label>
				</div>

				<div class="o-forms o-forms--wide">
					<label class="o-forms__label">Format</label>
					<input type="radio" id="builder-format-auto" name="format" value="auto" class="o-forms__radio" {{#if form.format.isAuto}}checked{{/if}}/>
					<label for="builder-format-auto" class="o-forms__label">auto (default)</label>
					<input type="radio" id="builder-format-jpg" name="format" value="jpg" class="o-forms__radio" {{#if form.format.isJpg}}checked{{/if}}/>
					<label for="builder-format-jpg" class="o-forms__label">jpg</label>
					<input type="radio" id="builder-format-png" name="format" value="png" class="o-forms__radio" {{#if form.format.isPng}}checked{{/if}}/>
					<label for="builder-format-png" class="o-forms__label">png</label>
					<input type="radio" id="builder-format-gif" name="format" value="gif" class="o-forms__radio" {{#if form.format.isGif}}checked{{/if}}/>
					<label for="builder-format-gif" class="o-forms__label">gif</label>
					<input type="radio" id="builder-format-svg" name="format" value="svg" class="o-forms__radio" {{#if form.format.isSvg}}checked{{/if}}/>
					<label for="builder-format-svg" class="o-forms__label">svg</label>
				</div>

				<div class="o-forms o-forms--wide">
					<label class="o-forms__label">Quality</label>
					<input type="radio" id="builder-quality-lowest" name="quality" value="lowest" class="o-forms__radio" {{#if form.quality.isLowest}}checked{{/if}}/>
					<label for="builder-quality-lowest" class="o-forms__label">lowest</label>
					<input type="radio" id="builder-quality-low" name="quality" value="low" class="o-forms__radio" {{#if form.quality.isLow}}checked{{/if}}/>
					<label for="builder-quality-low" class="o-forms__label">low</label>
					<input type="radio" id="builder-quality-medium" name="quality" value="medium" class="o-forms__radio" {{#if form.quality.isMedium}}checked{{/if}}/>
					<label for="builder-quality-medium" class="o-forms__label">medium (default)</label>
					<input type="radio" id="builder-quality-high" name="quality" value="high" class="o-forms__radio" {{#if form.quality.isHigh}}checked{{/if}}/>
					<label for="builder-quality-high" class="o-forms__label">high</label>
					<input type="radio" id="builder-quality-highest" name="quality" value="highest" class="o-forms__radio" {{#if form.quality.isHighest}}checked{{/if}}/>
					<label for="builder-quality-highest" class="o-forms__label">highest</label>
					<input type="radio" id="builder-quality-lossless" name="quality" value="lossless" class="o-forms__radio" {{#if form.quality.isLossless}}checked{{/if}}/>
					<label for="builder-quality-lossless" class="o-forms__label">lossless</label>
				</div>

				<div class="o-forms">
					<label for="builder-source" class="o-forms__label">Tint</label>
					<small class="o-forms__additional-info">
						Individual or multiple HEX colour codes, separated by commas
					</small>
					<input type="text" id="builder-tint" name="tint" placeholder="#ff0000,blue,0f0" value="{{form.tint}}" class="o-forms__text" />
				</div>

				<div class="o-forms">
					<button type="submit" class="o-buttons o-buttons--standout">Preview Image</button>
				</div>

			</form>

		</div>

	</div>
</div>
