@charset "UTF-8";

.o-layout__header .o-header-services__top .o-header-services__ftlogo {
	background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1:origami?source=origami-build-service");
}

.example-table {
	table-layout: fixed;
	width: 100%;
}

.url-builder-preview {
	flex-basis: 75%;
	margin-left: 20px;
}

.url-builder-output {
	width: 98%;
	height: 100px;
}

.flex-container {
	display: flex;
}

dt {
	font-weight: bold;
	line-height: 1.5;
}
