@charset "UTF-8";

/* Typographic overrides */
dt {
	font-weight: bold;
}

/* Table overrides */
td {
	vertical-align: top;
}
td p:first-child {
	margin-top: 0;
}

/* Header overrides */
@media (min-width: 46.25em) {
	.o-header__primary__left {
		width: 303px;
	}
}

/* Example table */
.example-column {
	width: 50% !important;
}

/* URL builder */
.url-builder-output {
	min-width: 100%;
	min-height: 100px;
}
